<app-menu-principal></app-menu-principal>

<!-- ======= Hero Section ======= -->
<section id="hero">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
        <div>
          <h1>¡Bienvenidos a Efequipos!</h1>
          <h2>En Efequipos, nuestro enfoque principal es el diseño y la creación de obras civiles e infraestructura, todo ello orientado a facilitar el alquiler y la venta de equipos necesarios para llevar a cabo tus proyectos de construcción. Nuestro compromiso es proporcionarte las soluciones adecuadas para hacer realidad tus obras de manera eficiente y exitosa.

            Explora nuestro catálogo de equipos de alta calidad, descubre nuestras opciones de alquiler y venta, y déjanos ser tu aliado en el camino hacia el éxito en tus proyectos de construcción.</h2>
          
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="assets/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6" data-aos="zoom-in">
          <img src="../../../assets/img/maquina.jpg" class="img-fluid" alt="maquinaria" style="height: 600px;">
        </div>
        <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0">
            <h3>Sobre nosotros</h3>
            <p class="fst-italic">
              Somos una empresa con mas de 18 años de experiencia en diseño de obras civiles y alquiler/venta de todos los materiales para llevar a cabo culquier tipo de obra como puentes, avenidas , edificios.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> En Efequipos, nos enorgullece contar con más de 18 años de experiencia en el diseño y la ejecución de proyectos de obras civiles. Durante todo ese tiempo, hemos sido testigos y participantes en la construcción de puentes majestuosos, modernas avenidas que conectan ciudades, y edificios emblemáticos que se alzan como símbolos de progreso.</li>
              <li><i class="bi bi-check-circle"></i> Nuestra misión es ser tu socio confiable en cada paso del proceso. No solo te proporcionamos servicios de alquiler y venta de equipos de la más alta calidad, sino que también te acompañamos con nuestro expertise en cada fase de tu proyecto. Desde los primeros planos y diseños hasta la culminación de la obra, estamos aquí para brindarte soluciones que cumplan con tus expectativas y estándares de calidad.</li>
              <li><i class="bi bi-check-circle"></i> Sabemos que cada proyecto es único, y en Efequipos estamos preparados para afrontar cualquier desafío. Ya sea un puente que conecta comunidades, una avenida que agiliza el tráfico o un edificio que se convierte en un hito, estamos comprometidos a hacer que tus ideas se hagan realidad.</li>
            </ul>
            <p>
              En Efequipos, no solo construimos infraestructura, forjamos relaciones duraderas y construimos un futuro mejor. ¡Acompáñanos en esta emocionante travesía de creación e innovación!
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item" data-aos="fade-up">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                <h4>Avenidas</h4>
                <p>Tenemos experiencia en todo tipo de vias.</p>
              </a>
            </li>
            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                <h4>Puentes</h4>
                <p>Tenemos experiencia en gran variedad de puentes.</p>
              </a>
            </li>
            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                <h4>Via ductos</h4>
                <p>Diseñamos gran variedad de via ductos.</p>
              </a>
            </li>
            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="300">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                <h4>Edificios</h4>
                <p>Diseñamos la estructura de cualquier tipo de edificio.</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <figure>
                <img src="../../../assets/img/av.jpg" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-2">
              <figure>
                <img src="../../../assets/img/puente.jpg" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-3">
              <figure>
                <img src="../../../assets/img/viaducto.jpg" alt="" class="img-fluid">
              </figure>
            </div>
            <div class="tab-pane" id="tab-4">
              <figure>
                <img src="../../../assets/img/edificios.jpg" alt="" class="img-fluid">
              </figure>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Servicios</h2>
        <p>En Efequipos, estamos comprometidos en brindarte una amplia gama de servicios y productos de alta calidad para satisfacer todas tus necesidades en el ámbito de la construcción y obras civiles. Nuestra oferta incluye:</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in">
          <div class="icon-box icon-box-pink">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Alquiler de Equipos:</a></h4>
            <p class="description">Ponemos a tu disposición una extensa flota de equipos de construcción de última generación para tu alquiler, desde maquinaria pesada hasta herramientas especializadas.</p>
          </div>
        </div>
        
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box icon-box-cyan">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Venta de Equipos:</a></h4>
            <p class="description">Si prefieres ser dueño de tu equipo, te ofrecemos opciones de compra de maquinaria y herramientas de construcción de la más alta calidad.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box icon-box-green">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Formaletas:</a></h4>
            <p class="description">Contamos con formaletas de distintos tamaños y medidas, listas para ser utilizadas en la construcción de estructuras de concreto.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box icon-box-blue">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Pie de Amigo:</a></h4>
            <p class="description">Nuestros servicios incluyen pie de amigo, una herramienta esencial en proyectos de encofrado y cimbras.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container">

      <div class="row" data-aos="zoom-in">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>¿Preguntas, Quejas, Reclamos o Sugerencias (PQRS)?</h3>
          <p> En Efequipos valoramos tus comentarios y estamos aquí para escucharte. Si tienes alguna pregunta, queja, reclamo o sugerencia, no dudes en ponerte en contacto con nosotros. Tu opinión es importante para mejorar nuestros servicios.</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="https://app-efequipos.vercel.app/pqrs/enviar">Enviar PQRS</a>
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->



  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Nuestros Valiosos Clientes</h2>
        <p>En Efequipos, valoramos y apreciamos a nuestros diversos clientes, quienes representan un componente fundamental de nuestro éxito. Ofrecemos soluciones personalizadas y adaptadas a las necesidades individuales de cada cliente. Nuestra misión es brindar un servicio excepcional y fortalecer relaciones duraderas con todos nuestros clientes, ya sean empresas, contratistas o individuos. ¡Gracias por confiar en Efequipos!</p>
    </div>
    

      <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo" data-aos="zoom-in">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo" data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo" data-aos="zoom-in" data-aos-delay="150">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo" data-aos="zoom-in" data-aos-delay="250">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo" data-aos="zoom-in" data-aos-delay="300">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6">
          <div class="client-logo" data-aos="zoom-in" data-aos-delay="350">
            <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6" data-aos="zoom-in" data-aos-delay="400">
          <div class="client-logo">
            <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Clients Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Preguntas frecuentes</h2>
      </div>

      <ul class="faq-list">

        <li>
          <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">¿Cual es el horario de atencion? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq1" class="collapse" data-bs-parent=".faq-list">
            <p>
              lun:	7:00 a. m. – 5:00 p. m. <br>
              mar:	7:00 a. m. – 5:00 p. m.<br>
              mié:	7:00 a. m. – 5:00 p. m.<br>
              jue:	7:00 a. m. – 5:00 p. m.<br>
              vie:	7:00 a. m. – 5:00 p. m.<br>
              sáb:	7:00 a. m. – 1:30 p. m.<br>
              dom:	Cerrado<br>
              <span>Estamos aquí para ayudarte durante estos días y horas.</span>
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">¿Desde que horas abren? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Abrimos nuestras puertas a las 7:00 AM de lunes a viernes, y a las 9:00 AM los sábados. Estamos listos para atenderte temprano para satisfacer tus necesidades.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">¿Qué tipos de obras realizamos? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq3" class="collapse" data-bs-parent=".faq-list">
            <p>
              En Efequipos, nos especializamos en una amplia gama de obras civiles, desde la construcción de puentes y avenidas hasta la edificación de modernos edificios. Sea cual sea tu proyecto, ¡estamos listos para ayudarte!
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">¿Cuáles son las ventajas de trabajar con Efequipos? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Efequipos te brinda la ventaja de experiencia con más de 18 años en la industria de obras civiles. Ofrecemos soluciones integrales y personalizadas, además de una amplia gama de materiales y equipos de alquiler o venta. ¡Confía en nosotros para que tu proyecto sea un éxito!
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">¿Cómo solicitar un presupuesto?  <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq5" class="collapse" data-bs-parent=".faq-list">
            <p>
              Solicitar un presupuesto es sencillo. Puedes contactarnos a través de nuestra página web o llamarnos directamente. Estamos dispuestos a brindarte toda la información que necesitas para tu proyecto.
            </p>
          </div>
        </li>

        <li>
          <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">¿Qué tipos de proyectos aceptamos? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
          <div id="faq6" class="collapse" data-bs-parent=".faq-list">
            <p>
              Aceptamos una amplia variedad de proyectos, desde pequeñas renovaciones hasta grandes construcciones. No importa el tamaño de tu proyecto; nuestro compromiso es brindarte el mejor servicio y los mejores productos.
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Contactanos</h2>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-right">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Ubicacion:</h4> <p>
                <a href="https://www.google.com/maps/place/EFEQUIPOS+S.A.S/data=!3m1!4b1!4m2!3m1!1s0x8e3f83732926a599:0x1847592e2faf6acb">A108 Cota Km 1 Parque Empresarial y Comercial, Rosalinda Bodega 62, Cota, Cundinamarca</a>
              </p>
              
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>
                <a href="mailto:jefe.adm.efequipos@gmail.com">jefe.adm.efequipos@gmail.com</a>
              </p>
             
          </div>
          

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Teléfono:</h4>
            <p>
              <a href="tel:3102196373">310 2196373</a>
            </p>
           
        </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127245.37967768929!2d-74.22603330959609!3d4.69719321394814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f83732926a599%3A0x1847592e2faf6acb!2sEFEQUIPOS%20S.A.S!5e0!3m2!1ses!2sco!4v1697409875907!5m2!1ses!2sco" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Su Nombre</label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="name">Su Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="name">Asunto</label>
              <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="form-group mt-3">
              <label for="name">Mensaje</label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Su mensaje ha sido enviado. Gracias!</div>
            </div>
            <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<app-footer></app-footer>