<app-menu-principal></app-menu-principal>
<div class="landing-container">
  <header>
    <!-- Aquí puedes agregar el encabezado, el logo, el menú de navegación, etc. -->
  </header>

  <section class="hero">
    <div class="hero-content">
      <h1>Bienvenido a Efequipos</h1>
      <p>Tu fuente confiable de equipos de alta calidad.</p>
      <a href="#contact">Contáctanos</a>
    </div>
  </section>

  <section class="features">
    <!-- Aquí puedes mostrar las características o servicios que ofreces -->
  </section>

  <section class="contact" id="contact">
    <!-- Agrega un formulario de contacto o información de contacto aquí -->
  </section>

  <footer>
    <!-- El pie de página con enlaces adicionales o información de contacto -->
  </footer>
</div>
<app-footer></app-footer>