<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)"
    style="color: white; background-color: white;">
    <mat-toolbar style="color: white !important; background-color: var(--orange-good);
        height: 85px;">Menú</mat-toolbar>

    <mat-nav-list>
      <div style="overflow-y: auto; height: 80%;position: absolute;width: 100%;">


        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title (click)="gotoInventario()" style="cursor: pointer; color: black;">
                Inventario
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li style="cursor: pointer; color: black;" (click)="gotoAddinventario()">Agregar Inventario</li>
              <li (click)="gotoModifyinventario()" style="cursor: pointer; color: black;">Modificar Inventario</li>
              <!-- <li (click)="gotoDeleteinventario()" style="cursor: pointer; color: black;">Eliminar Item de Inventario
              </li> -->
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title routerLink="/empleados/all" style="cursor: pointer; color: black;">
                Empleados
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li (click)="gotoAddEmpleado()" style="cursor: pointer; color: black;">Agregar Empleado</li>
              <li (click)="gotoModifyEmpleado()" style="cursor: pointer; color: black;">Modificar Empleado</li>
             <!--  <li (click)="gotoDeleteEmpleado()" style="cursor: pointer; color: black;">Eliminar Empleado</li> -->
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title routerLink="/despachos/all" style="cursor: pointer; color: black;">
                Despachos
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li routerLink="/despachos/add" style="cursor: pointer; color: black;">Agregar Despacho</li>
              <li routerLink="/" style="cursor: pointer; color: black;">Modificar Despacho</li>
              <!-- <li routerLink="/" style="cursor: pointer; color: black;">Eliminar Despacho</li> -->
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title routerLink="/clientes/all" style="cursor: pointer; color: black;">
                Clientes
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li routerLink="/clientes/add" style="cursor: pointer; color: black;">Crear Clientes</li>
           <!--    <li routerLink="/" style="cursor: pointer; color: black;">Eliminar Clientes</li> -->
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title (click)="gotoContratos()" style="cursor: pointer; color: black;">
                Contratos
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li style="cursor: pointer; color: black;" (click)="gotoContratosAdd()"  routerLink="/contratos/add" >Añadir Contratos Actuales</li>
              <!-- <li style="cursor: pointer; color: black;">Modificar Contratos Actuales</li>
              <li style="cursor: pointer; color: black;">Eliminar Contratos Actuales</li> -->
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title style="cursor: pointer; color: black;">
                Power BI
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li style="cursor: pointer; color: black;"  routerLink="/powerbi/actuales">Graficas Actuales</li>
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title routerLink="/pqrs/table" style="cursor: pointer; color: black;">
                PQRS
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li style="cursor: pointer; color: black;" routerLink="/pqrs/table">Ver PQRS Actuales</li>
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br> <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title routerLink="/obras/table" style="cursor: pointer; color: black;">
                OBRAS ACTUALES
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li style="cursor: pointer; color: black;" routerLink="/obras/table">Ver OBRAS Actuales</li>
            </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>


        <!--   <button mat-raised-button style=" display: flex; margin: 0 auto; width: 100%;"
        [ngStyle]="{'color': 'var(--orange-good)'}" routerLink="/">Reporte de costos</button> -->

      </div>
      <button mat-raised-button
        style=" display: flex; margin: 10%; width: 80%; position: absolute; bottom: 40px;background-color: crimson; color: white !important; height: 48px; font-weight: 800;"
        routerLink="/">Salir</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: var(--orange-good);height: 84px;color: white; position:sticky ;">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sistema de <b>EFEQUIPOS</b></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>