<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)"
    style="color: white; background-color: var(--orange-good);">
    <mat-toolbar style="color: white !important; background-color: var(--orange-good);">Menú</mat-toolbar>
    <mat-nav-list>
      <div style="padding-bottom: 75%;">
        <a mat-list-item [ngStyle]="{'color': 'white'}" routerLink="/Nuevo-inventario">Registrar Nuevo <br>Inventario</a>

        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title routerLink="/movimientos-inventario">
                Despachos
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
          <ul>
            <li>Agregar Equipo</li>
            <li routerLink="/modificar-inventario" style="cursor: pointer">Modificar Equipo</li>
            <li  routerLink="/eliminar-equipo" style="cursor: pointer">Eliminar Equipo</li>
          </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Consultar inventario actual
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
          <ul>
            <li>Precio Venta</li>
            <li>Consultar</li>
          </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <button mat-raised-button style=" display: flex; margin: 0 auto; width: 100%;"
        [ngStyle]="{'color': 'var(--orange-good)'}" routerLink="/">Reporte de costos</button>

      </div>
      <button mat-raised-button style=" display: flex; margin: 0 auto;"
        [ngStyle]="{'color': 'red'}" routerLink="/">Salir</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: var(--orange-good);height: 84px;color: white;">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sistema de Invetarios de <b>EFEQUIPOS</b></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
