<app-menu></app-menu>

<div class="container">
  <div class="row">
    <div class="col-sm mt-3">
      <h1>Gestion de Inventario</h1>
      <br>
      <i>Aca podras ver el inventario de EFEQUIPOS en tiempo real</i>
    </div>
    <div class="col-sm">

    </div>

    <mat-divider></mat-divider>

    <br>
  <table class="mat-elevation-z8 table" >
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Descrpcion</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Peso Kg</th>
          <th scope="col">Area m^2</th>
          <th scope="col">Peso Total</th>
          <th scope="col">Area Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let numberWork of lista  let i = index">
          <td>{{i + 1 }}</td>
          <td>{{numberWork.descripcion}}</td>
          <td>{{numberWork.cantidad}}</td>
          <td>{{numberWork.peso_kg}}</td>
          <td>{{numberWork.area_m2}}</td>
          <td>{{numberWork.peso_kg * numberWork.cantidad}}</td>
          <td>{{numberWork.area_m2 * numberWork.cantidad}}</td>

        </tr>

      </tbody>

    </table>
    <mat-paginator [length]="50"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Selecciona pagina">
</mat-paginator>
  </div>
</div>
<app-footer></app-footer>
