<app-menu></app-menu>

<div class="container">
  <div class="row">
    <div class="col-sm mt-3">
      <h1 style="color:green">Agregar Inventario</h1>
    </div>
    <div class="col-sm">

    </div>


  <table class="mat-elevation-z8 table" >
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre Material</th>
          <th scope="col">Foto de Material</th>
          <th scope="col">Nombre Cliente</th>
          <th scope="col">Añadir Equipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let numberWork of lista">
          <th>{{numberWork.id_equipo}}</th>
          <th>{{numberWork.nombre}}</th>
          <th>{{numberWork.logo}}</th>
          <th>{{numberWork.nombreCliente}}</th>
          <td>
            <button class="btn btn-success">Añadir</button>
          </td>
        </tr>

      </tbody>

    </table>

  </div>
</div>
<app-footer></app-footer>
