<app-menu></app-menu>
<span style="text-align: center;">
  <h2 mat-dialog-title>Modificar Empleados</h2>
  <p>Aqui podras modificar la nomina actual de EFEQUIPOS</p>
</span>

<mat-divider></mat-divider>
<table class="mat-elevation-z8 table" >
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre Empleado</th>
      <th scope="col">ID Cargo</th>
      <th scope="col">Celular</th>
      <th scope="col">Email</th>
      <th scope="col">Modificar empleados</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let numberWork of lista; let i = index">
      <td>{{numberWork.id_empleado}}</td>
      <td>{{numberWork.nombre}}</td>
      <td>{{numberWork.id_cargo}}</td>
      <td>{{numberWork.celular}} </td>
      <td>{{numberWork.e_mail}}</td>
      <td>
        <button class="btn btn-warning" (click)="gotoPageModify()">Modificar</button>
      </td>
    </tr>

  </tbody>

</table>


<app-footer></app-footer>
