<app-menu></app-menu>

<div class="container">
  <div class="row">
    <div class="col-sm mt-3">
      <h1>Modificar Inventario</h1>
      <br>
      <i>Aca podras editar el inventario actual de EFEQUIPOS por Item</i>
    </div>
    <div class="col-sm">

    </div>

    <mat-divider></mat-divider>

    <br>
<!--   <table class="mat-elevation-z8 table" >
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Descrpcion</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Peso Kg</th>
          <th scope="col">Area m^2</th>
          <th scope="col">Peso Total</th>
          <th scope="col">Area Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let numberWork of lista.rows">
          <td>{{numberWork.id_inventario}}</td>
          <td>{{numberWork.descripcion}}</td>
          <td>{{numberWork.cantidad}}</td>
          <td>{{numberWork.peso_kg}}</td>
          <td>{{numberWork.area_m2}}</td>
          <td>{{numberWork.peso_total}}</td>
          <td>{{numberWork.area_total}}</td>
          <td>
            <button class="btn btn-warning" [routerLink]="['/inventario/modificar', numberWork.id_inventario]">Modificar</button>
          </td>

        </tr>

      </tbody>

    </table> -->

    <table mat-table [dataSource]="lista" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.cod_prod}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Descrpcion">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Cantidad">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Peso_Kg">
        <th mat-header-cell *matHeaderCellDef> Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
      </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Area m_2">
          <th mat-header-cell *matHeaderCellDef> Valor Unidad </th>
          <td mat-cell *matCellDef="let element"> {{element.valor_uni}} </td>
        </ng-container>
           <!-- Symbol Column -->
           <ng-container matColumnDef="Peso Total">
            <th mat-header-cell *matHeaderCellDef> Peso Unidad </th>
            <td mat-cell *matCellDef="let element"> {{element.peso_total}} </td>
          </ng-container>
             <!-- Symbol Column -->
        <ng-container matColumnDef="Area Total">
          <th mat-header-cell *matHeaderCellDef>Area Total </th>
          <td mat-cell *matCellDef="let element"> {{element.area}} </td>
        </ng-container>

        <ng-container matColumnDef="Modificar">
          <th mat-header-cell *matHeaderCellDef>Modificar el Producto </th>
          <td mat-cell *matCellDef="let element"><button mat-button class="mat-raised-button mat-primary" style="background-color: orange; color: white;"  [routerLink]="['inventario/modificar', element.cod_prod]">Modificar</button> </td>
        </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator class="custom-paginator" [length]="length" [pageSize]="pageSize" (page)="pageEvent($event)"
    [pageSizeOptions]="pageSizeOptions">
</mat-paginator>

  </div>
</div>
<app-footer></app-footer>
