<h2 mat-dialog-title>Añadir Maquinaria</h2>
<div mat-dialog-content style="padding-left: 50px;">
  <div class="container">
    <form [formGroup]="machineForm">

      <mat-form-field appearance="fill">
        <mat-label>Nombre de Equipo</mat-label>
        <input matInput [(ngModel)]="machineNew.nombre" name="nombre" id="nombre" formControlName="nombre">
      </mat-form-field>
      <br>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Foto de Equipo (URL)</mat-label>
        <input matInput type="text"  [(ngModel)]="machineNew.nombreCliente" name="logo" id="logo" formControlName="logo" >
      </mat-form-field>
      <br>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Nombre de Cliente</mat-label>
        <input matInput [(ngModel)]="machineNew.logo" name="nombreCliente" id="nombreCliente"
        formControlName="nombreCliente">
      </mat-form-field>
      <br>
      <br><br>
      <div class="col">
        <button mat-button class="mat-raised-button mat-primary" style="background-color: green; color: white;" (click)="addMachine()" [disabled]="!machineForm.valid">Guardar</button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <button mat-button mat-dialog-close class="mat-raised-button mat-button-base"  [disabled]="!machineForm.valid">Cancelar</button>
      </div>

    </form>
  </div>
</div>
