<h2 mat-dialog-title>Añadir Inventario</h2>
<div mat-dialog-content style="padding-left: 50px;">
  <div class="container">
    <form [formGroup]="machineForm">

      <div class="col">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Descripcion</mat-label>
        <input matInput [(ngModel)]="machineNew.descripcion" name="descripcion" id="descripcion" formControlName="descripcion" >
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number"  [(ngModel)]="machineNew.cantidad" name="cantidad" id="cantidad" formControlName="cantidad" >
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Peso en Kg</mat-label>
          <input matInput type="number" [(ngModel)]="machineNew.peso_kg" name="peso_kg" id="peso_kg"
          formControlName="peso_kg">
        </mat-form-field>
      </div>
      <br>
      <div class="col">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Area en M^2</mat-label>
        <input matInput type="number" [(ngModel)]="machineNew.area_m2" name="area_m2" id="area_m2"
        formControlName="area_m2">
        </mat-form-field>
      </div>
      <br>
      <h3 style="text-align: center;">Totales de Area y metros^2</h3>
      <mat-form-field appearance="fill">
        <mat-label>Area Total</mat-label>
        <input matInput [(ngModel)]="machineNew.area_total" name="area_total" id="area_total"
        formControlName="area_total" [disabled]="true">{{machineNew.area_m2 * machineNew.cantidad}}
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Peso Total</mat-label>
        <input matInput [(ngModel)]="machineNew.peso_total" name="peso_total" id="peso_total"
        formControlName="peso_total" [disabled]="true">{{machineNew.peso_kg * machineNew.cantidad}}
      </mat-form-field>
      <div class="col" style="text-align: center;">
        <button mat-button class="mat-raised-button mat-primary btn btn-warning" (click)="addMachine()" [disabled]="!machineForm.valid">Guardar</button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <button mat-button mat-dialog-close class="mat-raised-button mat-button-base" [disabled]="!machineForm.valid">Cancelar</button>
      </div>


    </form>
  </div>
</div>
