<app-menu></app-menu>

<div class="container">
  <div class="row">
    <div style="text-align: center;">
      <h1>Clientes</h1>
      <br>
      <i>Aqui podras modificar todos los clientes de EFEQUIPOS</i>
      <br>
      <i>En tiempo real.</i>
      <br>
      <br>
    </div>



    <div class="container">
      <form [formGroup]="clienteForm">
        <div class="col
          ">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Nombre de cliente</mat-label>
            <input matInput formControlName="nom_cliente" name="nom_cliente" id="nom_cliente" >
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill"  class="w-100">
            <mat-label>NIT</mat-label>
            <input matInput type="number" formControlName="NIT" name="NIT" id="NIT" >
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill"  class="w-100">
            <mat-label>Ing a cargo</mat-label>
            <input matInput formControlName="cargo_obra" name="cargo_obra" id="cargo_obra"
             >
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill"  class="w-100">
            <mat-label>Direccion</mat-label>
            <input matInput formControlName="direccion" name="direccion" id="direccion"
             >
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill"  class="w-100">
            <mat-label>Celular cliente</mat-label>
            <input matInput formControlName="celular" name="celular" id="celular"
             >
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill"  class="w-100">
            <mat-label>Ciudad</mat-label>
            <input matInput formControlName="ciudad" name="ciudad" id="ciudad"
             >
          </mat-form-field>
        </div> <div class="col">
          <mat-form-field appearance="fill"  class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="departamento" name="departamento" id="departamento"
             >
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill"  class="w-100">
            <mat-label>Nombre de obra</mat-label>
            <input matInput formControlName="nombre_obra" name="nombre_obra" id="nombre_obra"
             >
          </mat-form-field>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <button mat-button class="mat-raised-button mat-primary" style="background-color:var(--orange-good); color: white;" (click)="modifyClientes()">Guardar</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-button mat-dialog-close class="mat-raised-button mat-button-base"  [routerLink]="['/clientes/all']" >Cancelar</button>
        </div>


      </form>
    </div>
  </div>
</div>
<br>
<br>
<br><br>
<app-footer></app-footer>
