<app-menu></app-menu>
<span style="text-align: center;">
  <h1>FORMULARIO PARA REGISTRAR NUEVOS CLIENTES</h1>
  <br>
  <p>Ahora en EFEQUIPOS podras agregar clientes en tiempo real.</p>
</span>

    <form [formGroup]="stepOneForm" class="container">
      <ng-template matStepLabel>Informacion del despachos</ng-template>
      <div class="col">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Nombre del cliente</mat-label>
          <input matInput placeholder="Ingresa nombre del cliente" formControlName="nom_cliente" required [(ngModel)]="clienteNew.nom_cliente">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="w-100 mat-orange ">
          <mat-label>Dirreccion</mat-label>
          <input type="text" matInput placeholder="Ingresa Direccion" formControlName="direccion" required class="mat-orange" [(ngModel)]="clienteNew.direccion">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="w-100 mat-orange ">
          <mat-label>Nombre Obra</mat-label>
          <input matInput placeholder="Ingresa nombre Obra" formControlName="nombre_obra" required class="mat-orange" [(ngModel)]="clienteNew.nombre_obra">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Ing a cargo</mat-label>
          <input matInput placeholder="Ingresa Ing a cargo" formControlName="cargo_obra" required [(ngModel)]="clienteNew.cargo_obra">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Ingresa NIT</mat-label>
          <input matInput
          placeholder="Ingresa NIT" formControlName="NIT" [(ngModel)]="clienteNew.NIT">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Celular del cliente</mat-label>
          <input  type="number" matInput placeholder="Ingresa Celular del cliente" formControlName="celular" required [(ngModel)]="clienteNew.celular">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width w-100">
          <mat-label>Ingresa ciudad</mat-label>
          <input matInput placeholder="Ingresa ciudad" formControlName="ciudad" required [(ngModel)]="clienteNew.ciudad">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Ingresa departamento</mat-label>
          <input  type="text" matInput placeholder="Ingresa departamento" formControlName="departamento" required [(ngModel)]="clienteNew.departamento">
        </mat-form-field>
      </div>
      <div>
        <button  [disabled]="!stepOneForm.valid" matStepperNext class="btn btn-warning" (click)="addClient()">Guardar cliente</button>
      </div>
    </form>
    <br><br><br>
<app-footer></app-footer>
