<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)"
    style="color: white; background-color: var(--orange-good);">
    <mat-toolbar style="color: white !important; background-color: var(--orange-good);">Menú</mat-toolbar>
    <mat-nav-list>
      <div style="padding-bottom: 75%;">
        <!-- <a mat-list-item [ngStyle]="{'color': 'white'}" routerLink="/Nuevo-inventario">Registrar Nuevo <br>Inventario</a>
 -->
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title routerLink="/movimientos-inventario" style="cursor: pointer; color: black;">
                Inventario
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
          <ul>
            <li routerLink="/add-machine" style="cursor: pointer; color: white;">Agregar Equipo</li>
            <li routerLink="/modificar/table-machine" style="cursor: pointer; color: white;">Modificar Equipo</li>
            <li  routerLink="/eliminar-machine" style="cursor: pointer; color: white;">Eliminar Equipo</li>
          </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title routerLink="/empleados/all" style="cursor: pointer; color: black;">
                Empleados
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
          <ul>
            <li routerLink="empleados/añadir-empleado" style="cursor: pointer; color: white;">Agregar Empleado</li>
            <li (click)="gotoModifyEmpleado()" style="cursor: pointer; color: white;">Modificar Empleado</li>
          <!--   <li  routerLink="/eliminar-empleado" style="cursor: pointer; color: white;">Eliminar Empleado</li> -->
          </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title routerLink="/despachos/all" style="cursor: pointer; color: black;">
                Despachos
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
          <ul>
            <li routerLink="/" style="cursor: pointer; color: white;">Agregar Despacho</li>
            <li routerLink="/" style="cursor: pointer; color: white;">Modificar Despacho</li>
            <li  routerLink="/" style="cursor: pointer; color: white;">Eliminar Despacho</li>
          </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title routerLink="/clientes/all" style="cursor: pointer; color: black;">
                Clientes
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
          <ul>
            <li routerLink="/" style="cursor: pointer; color: white;">Agregar Clientes</li>
            <li routerLink="/" style="cursor: pointer; color: white;">Modificar Clientes</li>
            <li  routerLink="/" style="cursor: pointer; color: white;">Eliminar Clientes</li>
          </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title routerLink="/reportes" style="cursor: pointer; color: black;">
                Graficas inventario actual
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
          <ul>
            <li style="cursor: pointer; color: white;">Precio Venta</li>
            <li style="cursor: pointer; color: white;">Consultar</li>
          </ul>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <br>

        <button mat-raised-button style=" display: flex; margin: 0 auto; width: 100%;"
        [ngStyle]="{'color': 'var(--orange-good)'}" routerLink="/">Reporte de costos</button>

      </div>
      <button mat-raised-button style=" display: flex; margin: 0 auto;"
        [ngStyle]="{'color': 'red'}" routerLink="/">Salir</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: var(--orange-good);height: 84px;color: white;">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Sistema de Invetarios de <b>EFEQUIPOS</b></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
