<app-menu></app-menu>

<div class="container">
  <div class="row">
    <div class="col-sm mt-3">
      <h1>PQRS</h1>
      <br>
      <i>Aqui podras encontrar todos los pqrs de EFEQUIPOS</i>
      <br>
      <i>En tiempo real.</i>
      <br>
      <br>
    </div>
    <div class="col-sm">

    </div>


    
    <table mat-table [dataSource]="lista" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id_pqri}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Empresa">
        <th mat-header-cell *matHeaderCellDef> Empresa </th>
        <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef>Dirección </th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef>Telefono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="celular">
        <th mat-header-cell *matHeaderCellDef> Celular</th>
        <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="ciudad">
        <th mat-header-cell *matHeaderCellDef> Ciudad</th>
        <td mat-cell *matCellDef="let element"> {{element.ciudad}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="pais">
        <th mat-header-cell *matHeaderCellDef>Pais</th>
        <td mat-cell *matCellDef="let element"> {{element.pais}} </td>
      </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="e_mail">
            <th mat-header-cell *matHeaderCellDef>E-mail</th>
            <td mat-cell *matCellDef="let element">{{element.e_mail}}</td>
          </ng-container>

           <!-- Symbol Column -->
           <ng-container matColumnDef="obs">
            <th mat-header-cell *matHeaderCellDef>Observacion</th>
            <td mat-cell *matCellDef="let element">{{element.obs}}</td>
          </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator class="custom-paginator" [length]="length" [pageSize]="pageSize"
      (page)="pageEvent($event)" [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>
<app-footer></app-footer>