<app-menu></app-menu>

<div class="container">
  <div class="row">
    <div class="col-sm mt-3">
      <h1>Despachos</h1>
      <br>
      <i>Aqui podras agregar todos los despachos EFEQUIPOS</i>
      <br>
      <i>En tiempo real.</i>
      <br>
      <br>
    </div>
    <div class="col-sm">

    </div>


  <table class="mat-elevation-z8 table" >
      <thead>
        <tr>
          <th scope="col">Id despacho</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Cantida</th>
          <th scope="col">Codigo obra</th>
          <th scope="col">Codigo contrato</th>
          <th scope="col">Fecha despachos</th>
          <th scope="col">Despachador</th>
          <th scope="col">OBS</th>
          <th scope="col">Agregar despachos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let numberWork of lista; let i = index">
          <td>{{i + 1}}</td>
          <td>{{numberWork.descripcion}}</td>
          <td>{{numberWork.cantidad}}</td>
          <td>{{numberWork.cod_obra}}</td>
          <td>{{numberWork.cod_cont}}</td>
          <td>{{numberWork.fec_des}}</td>
          <td>{{numberWork.despachador}}</td>
          <td>{{numberWork.obs}}</td>
          <td>
            <button class="btn btn-success" (click)="goToDespachosFrom()" >Agregar</button>
          </td>
        </tr>

      </tbody>

    </table>

  </div>
</div>
<app-footer></app-footer>
