<app-menu></app-menu>

<div class="container">
  <div class="row">
    <div class="col-sm mt-3">
      <h1>Clientes</h1>
      <br>
      <i>Aqui podras encontrar todos los clientes de EFEQUIPOS</i>
      <br>
      <i>En tiempo real.</i>
      <br>
      <br>
    </div>
    <div class="col-sm">

    </div>


  <table class="mat-elevation-z8 table"  >
      <thead>
        <tr>
          <th scope="col">Id Cliente</th>
          <th scope="col">Nombre Cliente</th>
          <th scope="col">Dirrecion</th>
          <th scope="col">Nombre Obra</th>
          <th scope="col">Ing a cargo</th>
          <th scope="col">NIT</th>
          <th scope="col">Telefono</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Pais</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let numberWork of lista; let i = index" >
          <td>{{i + 1}}</td>
          <td>{{numberWork.nom_cliente}}</td>
          <td> {{numberWork.direccion}}</td>
          <td> {{numberWork.nombre_obra}}</td>
          <td>{{numberWork.cargo_obra}}</td>
          <td> {{numberWork.NIT}}</td>
          <td> {{numberWork.celular}}</td>
          <td> {{numberWork.ciudad}}</td>
          <td> {{numberWork.pais}}</td>

        </tr>

      </tbody>

    </table>
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Selecciona pagina">
</mat-paginator>
  </div>
</div>
<app-footer></app-footer>
