<app-menu></app-menu>

<div class="container">
  <div class="row">
    <div class="col-sm mt-3">
      <h1>Modificar Inventario</h1>
    </div>
    <div class="col-sm">

    </div>

    <mat-divider></mat-divider>

    <br>
  <table class="mat-elevation-z8 table" >
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre Material</th>
          <th scope="col">Foto de Material</th>
          <th scope="col">Nombre Cliente</th>
          <th scope="col">Modificar Equipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let numberWork of lista">
          <td>{{numberWork.id_equipo}}</td>
          <td>{{numberWork.nombre}}</td>
          <td>{{numberWork.logo}}</td>
          <td>{{numberWork.nombreCliente}}</td>
          <td>
            <button class="btn btn-warning" style="color: white">Modificar</button>
          </td>

        </tr>

      </tbody>

    </table>

  </div>
</div>
<app-footer></app-footer>
