@import url(../../../styles.scss);

// Estilos para el navbar
.navbar {
  background-color: #e07f00;
  border-radius: 0.25rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  height: 70px;
  box-shadow: 0 0 5px grey;

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff6200;
  }

  .navbar-nav {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: inline-flex;
    flex-direction: row-reverse;
  
    .nav-link {
      font-size: 1rem;
      font-weight: normal;
      color: white;
      
/*       &:hover {
        color: #e07f00;
      } */
    }
  }
  

  .nav-item.ms-auto {
    padding-right: 0;
  }

  .btn {
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    color: #e07f00;

    &:hover {
      background-color: #e07f00;
    }
  }

  .container-fluid {
   padding: 25px 48px 25px 48px; 
  }
}
