<h2 mat-dialog-title>Añadir Empleado</h2>
<div mat-dialog-content style="padding-left: 50px;">
  <div class="container">
    <form [formGroup]="empleadoForm">

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Nombre de Empleado</mat-label>
        <input matInput [(ngModel)]="empleadosNew.nombre" name="nombre" id="nombre" formControlName="nombre">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Cargo</mat-label>
        <input matInput [(ngModel)]="empleadosNew.id_cargo" type="number" name="nombre" id="nombre" formControlName="nombre">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Celular empleado</mat-label>
        <input matInput type="number" [(ngModel)]="empleadosNew.celular" name="celular" id="celular"
        formControlName="celular">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Correo empleado</mat-label>
        <input matInput type="email" [(ngModel)]="empleadosNew.e_mail" name="email" id="email"
        formControlName="email">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Usuario de empleado</mat-label>
        <input matInput type="text" [(ngModel)]="empleadosNew.usuario" name="usuario" id="usuario"
        formControlName="usuario">
      </mat-form-field>
      <br>
      <div class="col" style="display: flex; align-items: center; justify-content: center;">
        <button mat-button  style="color: white; background-color: orange;" class="mat-raised-button btn btn-warning" (click)="addEmpleado()" >Guardar</button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <button mat-button mat-dialog-close class="mat-raised-button mat-button-base" (click)="backEmpleado()"  >Cancelar</button>
      </div>

    </form>
  </div>
</div>
