<h2 mat-dialog-title>Añadir Empleado</h2>
<div mat-dialog-content style="padding-left: 50px;">
  <div class="container">
    <form [formGroup]="empleadoForm">

      <mat-form-field appearance="fill">
        <mat-label>Nombre de Empleado</mat-label>
        <input matInput [(ngModel)]="empleadosNew.nombre" name="nombre" id="nombre" formControlName="nombre">
      </mat-form-field>
      <br>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Celular empleado</mat-label>
        <input matInput type="number" [(ngModel)]="empleadosNew.celular" name="celular" id="celular"
        formControlName="celular">
      </mat-form-field>
      <br>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Correo empleado</mat-label>
        <input matInput type="email" [(ngModel)]="empleadosNew.email" name="email" id="email"
        formControlName="email">
      </mat-form-field>
      <div class="col">
       
        <button mat-button class="mat-raised-button mat-primary btn btn-warning" (click)="addEmpleado()" [disabled]="!empleadoForm.valid">Guardar</button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <button mat-button mat-dialog-close class="mat-raised-button mat-button-base" (click)="backEmpleado()"  [disabled]="empleadoForm.valid">Cancelar</button>
      </div>

    </form>
  </div>
</div>
