.custom-paginator .mat-select-value {
    color: #FFFFFF !important; /* Color deseado para el texto */
  }
  
  .custom-paginator .mat-select-trigger {
    background-color: #333333 !important; /* Color deseado para el fondo */
    color: #FFFFFF !important; /* Color deseado para el texto */
  }
  
  .custom-paginator .mat-option {
    color: #000000 !important; /* Color deseado para el texto de las opciones */
  }
  